<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bacc_front.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <!--<appender-ref ref="SmtpAppender"/>-->
      <appender-ref ref="LogFileAppender"/>
      <!--<appender-ref ref="ColoredConsoleAppender"/>-->
    </root>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs/cmm.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%02thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="bobby.chopra@prcm.com"/>
      <from value="TagFileUploader@prcm.com"/>
      <subject value="TagFileUploader ERROR"/>
      <smtpHost value="prc-mn-ex01"/>
      <bufferSize value="512"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>
  </log4net>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>

    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SqliteBacc" connectionString="data source=BaccFront.db" providerName="System.Data.SQLite.EF6"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
    <remove invariant="System.Data.SQLite.EF6"/><add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
      description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/></DbProviderFactories>
  </system.data>
  <userSettings>
    <Bacc_front.Properties.Settings>
      <setting name="GameSetting" serializeAs="String">
        <value/>
      </setting>
      <setting name="_isGameInited" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentSessionIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="JsonPlayerScores" serializeAs="String">
        <value/>
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value>P9GYoDWQyQCWMX61e9tVNQ==</value>
      </setting>
      <setting name="AdministratorPwd" serializeAs="String">
        <value>2BDQdbYmfKjQXPjeWEFdBA==</value>
      </setting>
      <setting name="waiter_pwd" serializeAs="String">
        <value>TvLi6ZcIlR/y+wfWr2gFeg==</value>
      </setting>
      <setting name="manager_pwd" serializeAs="String">
        <value>1jB7mL0Ap15jh9UoSb2LEw==</value>
      </setting>
      <setting name="boss_pwd" serializeAs="String">
        <value>X0LvbxCGKj6zlK01F1XxXQ==</value>
      </setting>
      <setting name="audit_account_pwd" serializeAs="String">
        <value>otV9Ro5ebUsknIyHD8WZnQ==</value>
      </setting>
      <setting name="quit_front_pwd" serializeAs="String">
        <value>mxFwyn3f/izsEE/xasED4w==</value>
      </setting>
      <setting name="shutdown_pwd" serializeAs="String">
        <value>3Sz2sBHexyH4zsfpidi7qA==</value>
      </setting>
      <setting name="clear_account_pwd" serializeAs="String">
        <value>8dTKG4Iz3i4K6I1mOf+Eag==</value>
      </setting>
      <setting name="audit_bet_record_pwd" serializeAs="String">
        <value>krblvv6kZ1s8L9wgeEnv4Q==</value>
      </setting>
      <setting name="middle_check_waybill_pwd" serializeAs="String">
        <value>NnhIUm6cmCSSDTCb37jb+w==</value>
      </setting>
      <setting name="Room" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LGroup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="conn_front_pwd" serializeAs="String">
        <value>2efdreEspxWUX5WM5y9mFg==</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>198</value>
      </setting>
      <setting name="url" serializeAs="String">
        <value>getmsg</value>
      </setting>
    </Bacc_front.Properties.Settings>
  </userSettings>
</configuration>